<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppDelegate</key>
	<dict>
		<key>logForLaunch</key>
		<array>
			<dict>
				<key>co</key>
				<string>357</string>
			</dict>
			<string>sa&amp;currentUserIdLogTag</string>
			<string>cq</string>
			<string></string>
		</array>
	</dict>
	<key>ViewController</key>
	<dict>
		<key>tapActionByCondition</key>
		<array>
			<dict>
				<key>co</key>
				<string>301&amp;logTapCondation=1</string>
			</dict>
			<string>sa</string>
			<string>cq</string>
		</array>
		<key>tableView:didSelectRowAtIndexPath:</key>
		<array>
			<dict>
				<key>co</key>
				<string>311</string>
			</dict>
			<string>sa</string>
			<string>s1&amp;someModelId</string>
			<string>cq</string>
		</array>
		<key>tapAction:</key>
		<array>
			<dict>
				<key>co</key>
				<string>335</string>
			</dict>
			<string>userName</string>
			<string>sa</string>
			<string>cq</string>
		</array>
		<key>leftButtonControlAction:</key>
		<array>
			<dict>
				<key>co</key>
				<string>322</string>
			</dict>
			<string>sa</string>
			<string>cq</string>
		</array>
		<key>rightButtonControlAction:</key>
		<array>
			<dict>
				<key>co</key>
				<string>125</string>
			</dict>
			<string>sa</string>
			<string>cq</string>
		</array>
		<key>commonButtonControlAction:</key>
		<array>
			<dict>
				<key>co</key>
				<string>321</string>
			</dict>
			<string>sa</string>
			<string>cq</string>
			<string>sd&amp;zhLogTitle</string>
		</array>
	</dict>
</dict>
</plist>
